<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Bienvenido al Sistema de Adopcion de Mascotas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>    
<body>
    
    <!-- As a heading -->
    <nav class="navbar">
        <span class="navbar-brand mb-0 h1" >Sistema de Adopción de Mascotas</span>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" th:href="@{/registro}">Registro <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" th:href="@{/donador/login}">Acceso a Donadores</a>
            <a class="nav-item nav-link active" th:href="@{/candidato/login}">Acceso a Candidatos</a>           
            
          </div>
        </div>
    </nav>
   
   

    
    
</body>
</html>