<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Bienvenido al Sistema de Adopcion de Mascotas</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <title>Sistema de Adopcion de Mascotas</title>
</head>
<body>
    <div class="container text-center">
        <div>
            <h1>Sistema de Adopcion</h1>
        </div>
        <div>
            <h3><a th:href="@{/registro}">Registro</a> </h3>
            <h3><a th:href="@{/usuarios}"> Lista de Usuarios</a></h3>
            <h3><a th:href="@{/donador/login}">Login Donador</a></h3>
            <h3><a th:href="@{/candidato/login}">Login Candidato</a></h3>            
        </div>
    </div>
   

    
    
</body>
</html>